<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <ngb-toast [autohide]="false" class="update-alert">
                <blockquote class="blockquote">
                In future versions of this application on this page, it will be possible to correspond with other users of this network using an interactive chat.
                It will be possible to correspond both with individual users and with a group of users.
                In the chat, the ability to send text messages, attach files, photos, and also set reactions using emoticons will be implemented.
                </blockquote>
            </ngb-toast>
        </div>
    </div>
</div>