<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <ngb-toast [autohide]="false" class="update-alert">
                <blockquote class="blockquote">
                    In a further version of this application on this page, it will be possible to create posts with through which you can share your life with other users of the social network.
                    Posts will be featured to customize access. You can make your posts both public for all people and private, which means they will be visible only to your friends.
                    In posts, you can write a text about your life events, impressions and share other information. The ability to attach the cover of a post, comment on posts and set reactions using emoticons will also be implemented.                    
                </blockquote>
            </ngb-toast>
        </div>
    </div>
</div>